.button {
  box-sizing: content-box;
  width: $mobile-button-width;
  min-height: 40px;
  border: 2px solid $link-color;
  border-radius: 3px;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button--offer {
  margin-bottom: 25px;
  background-color: $offer-button-color;
  border: 2px solid $offer-button-color;
  color: $white-color;
}

//------------------------------------------- TABLET -------------------------

@media (min-width: $tablet-width) {

  .button {
    margin-top: 32px;
  }

  .button--offer {
    margin-top: 0;
    margin-left: 2px;
  }
}

//------------------------------------------- TABLET-2 -------------------------

@media (min-width: $tablet-large-width) {

  .button {
    margin-bottom: 22px;
    margin-left: 0;
  }
}

//------------------------------------------- DESKTOP -------------------------

@media (min-width: $desktop-width) {

  .button {
    width: $desktop-item-wrapper;
  }
}
